<div class="puzzle-config-container main-settings-container" *ngIf="settings && config">
  <div class="size option-container" [ngClass]="{'show-help': currentHelp === helpType.SIZE}">
    <div class="settings-title">
      <h3 class="sub-title">Taille&nbsp;: </h3>
      <i
        class="material-icons"
        popoverSize="auto"
        [popover]="PopoverSize"
        [popoverOnHover]="false"
        (onShown)="showHelp(helpType.SIZE)"
        (onHidden)="hideHelp()"
      >help_outline</i>
    </div>
    <div class="settings-group">
      <button class="custom-button" *ngFor="let size of sizes" (click)="sizeChanged(size)" [ngClass]="{'selected': currentSize === size, 'settings-option-2': sizes.length % 2 === 0, 'settings-option-3': sizes.length % 2 !== 0}"> {{size}} x {{size}} </button>
    </div>
    <popover-content #PopoverSize placement="bottom" [closeOnClickOutside]="true">
      <div class="po-content">
        <div class="po-text">Tailles possibles pour le puzzle.</div>
        <br />
        <div class="po-advice">
          Pour les puzzles <span class="surligne">4 x 4</span> et <span class="surligne">5 x 5</span>
          il est conseillé d'utiliser l'algorithme <span class="surligne underline" [matTooltip]="helpTooltip.algo" matTooltipPosition="before">Weigthed A*</span> ou
          d'activer l'option <span class="surligne underline" [matTooltip]="helpTooltip.greedy" matTooltipPosition="before">Greedy Search</span>.
        </div>
        <br />
        <div class="po-advice">
          Il est possible d'utiliser différentes tailles de puzzle en ajoutant le paramètre <span class="surligne">size</span> dans l'URL.<br />
          La taille minimum possible est 2. Une taille inférieure n'est pas possible car aucune tuile ne sera posée sur le plateau.<br />
          La taille maximum possible est 20. Une taille supérieur n'est pas disponible car le rendu visuel devient trop illisible.
        </div>
      </div>
    </popover-content>
  </div>

  <div class="algo option-container" [ngClass]="{'show-help': currentHelp === helpType.ALGO}">
    <div class="separator"></div>
    <div class="settings-title">
      <h3 class="sub-title">Algorithme&nbsp;:</h3>
      <i
        class="material-icons"
        popoverSize="auto"
        [popover]="PopoverAlgo"
        [popoverOnHover]="false"
        (onShown)="showHelp(helpType.ALGO)"
        (onHidden)="hideHelp()"
      >help_outline</i>
    </div>
    <div class="settings-group">
      <button class="settings-option-3 custom-button" (click)="onAlgoChange(algorithms.ASTAR)" [ngClass]="{'selected': config.algo === algorithms.ASTAR}"> {{algoLabel[algorithms.ASTAR]}} </button>
      <button class="settings-option-3 custom-button" (click)="onAlgoChange(algorithms.WEIGHTED_ASTAR)" [ngClass]="{'selected': config.algo === algorithms.WEIGHTED_ASTAR}"> {{algoLabel[algorithms.WEIGHTED_ASTAR]}} </button>
      <button class="settings-option-3 custom-button" (click)="onAlgoChange(algorithms.A_STAR_ALT)" [ngClass]="{'selected': config.algo === algorithms.A_STAR_ALT}"> {{algoLabel[algorithms.A_STAR_ALT]}} </button>
    </div>
    <popover-content #PopoverAlgo placement="bottom" [closeOnClickOutside]="true">
      <div class="po-content">
        <div class="po-text">Algorithmes disponibles pour résoudre le puzzle</div>
        <br />
        <div class="po-explain">
          <span class="small">Les formules encadrées correspondent à la façon de calculer le <span class="surligne underline" [matTooltip]="helpTooltip.cost" matTooltipPosition="before">coût</span> pour une position du puzzle.</span>
          <ul>
            <li><span class="surligne">{{algoLabel[algorithms.ASTAR]}}</span> : <span class="cadre">g(x) + h(x)</span> : Récupère un élément dans la <span class="surligne underline" [matTooltip]="helpTooltip.openList" matTooltipPosition="before">Liste Ouverte</span> pour vérifié si c'est la solution, sinon cherche les positions suivantes et les ajoute dans la <span class="surligne underline" [matTooltip]="helpTooltip.openList" matTooltipPosition="before">Liste Ouverte</span>.</li>
            <li><span class="surligne">{{algoLabel[algorithms.WEIGHTED_ASTAR]}}</span> : <span class="cadre">g(x) + n * h(x)</span> : Variante de <span class="surligne">{{algoLabel[algorithms.ASTAR]}}</span> qui permet d'arriver plus rapidement à la solution.</li>
            <li><span class="surligne">{{algoLabel[algorithms.A_STAR_ALT]}}</span> : <span class="cadre">g(x) + h(x)</span> : Variante de <span class="surligne">{{algoLabel[algorithms.ASTAR]}}</span> qui vérifie les états avant de les ajouter à la <span class="surligne underline" [matTooltip]="helpTooltip.openList" matTooltipPosition="before">Liste Ouverte</span>.</li>
          </ul>
        </div>
        <br />
        <div class="po-advice">
          <ul>
            <li><span class="surligne">g(x)</span> : Le coût pour arriver à une étape donnée. </li>
            <li><span class="surligne">h(x)</span> : Le coût estimé, à l'aide de l'<span class="surligne underline" [matTooltip]="helpTooltip.heuristic" matTooltipPosition="before">heuristique</span>, pour arriver à l'étape finale.</li>
            <li><span class="surligne">n</span>    : Une constante.</li>
          </ul>
        </div>
      </div>
    </popover-content>
  </div>

  <div class="heuristic option-container" [ngClass]="{'show-help': currentHelp === helpType.HEURISTIC}">
    <div class="separator"></div>
    <div class="settings-title">
      <h3 class="sub-title">Heuristique&nbsp;: </h3>
      <i
        class="material-icons"
        popoverSize="auto"
        [popover]="PopoverHeuristic"
        [popoverOnHover]="false"
        (onShown)="showHelp(helpType.HEURISTIC)"
        (onHidden)="hideHelp()"
      >help_outline</i>
    </div>
    <div class="settings-group">
      <button class="settings-option-2 custom-button" (click)="onHeuristicChange(heuristics.MANHATTAN)" [ngClass]="{'selected': config.heuristic === heuristics.MANHATTAN}"> {{heuristicLabel[heuristics.MANHATTAN]}} </button>
      <button class="settings-option-2 custom-button" (click)="onHeuristicChange(heuristics.HAMMING)" [ngClass]="{'selected': config.heuristic === heuristics.HAMMING}"> {{heuristicLabel[heuristics.HAMMING]}} </button>
      <button class="settings-option-2 custom-button" (click)="onHeuristicChange(heuristics.CARTESIAN)" [ngClass]="{'selected': config.heuristic === heuristics.CARTESIAN}"> {{heuristicLabel[heuristics.CARTESIAN]}} </button>
      <button class="settings-option-2 custom-button" (click)="onHeuristicChange(heuristics.LINEAR_CONFLICT)" [ngClass]="{'selected': config.heuristic === heuristics.LINEAR_CONFLICT}"> {{heuristicLabel[heuristics.LINEAR_CONFLICT]}} </button>
      <button class="settings-option-2 custom-button" (click)="onHeuristicChange(heuristics.UNIFORM)" [ngClass]="{'selected': config.heuristic === heuristics.UNIFORM}"> {{heuristicLabel[heuristics.UNIFORM]}} </button>
      <div class="settings-option-2 placeholder-button"></div>
    </div>
    <popover-content #PopoverHeuristic placement="bottom" [closeOnClickOutside]="true">
      <div class="po-content">
        <div class="po-text">Heuristiques disponibles pour le calcul du <span class="surligne underline" [matTooltip]="helpTooltip.cost" matTooltipPosition="before">coût</span>.</div>
        <br />
        <div class="po-advice">
          Section dédiée au calcul de <span class="surligne">h(x)</span>.
        </div>
        <br />
        <div class="po-explain">
          <ul>
            <li><span class="surligne">{{heuristicLabel[heuristics.MANHATTAN]}}</span> : Retourne la somme des déplacements, horizontaux et verticaux, nécessaires à chaque pièce pour atteindre leur position finale.</li>
            <li><span class="surligne">{{heuristicLabel[heuristics.HAMMING]}}</span> : Retourne le nombre de pièces mal placées.</li>
            <li><span class="surligne">{{heuristicLabel[heuristics.CARTESIAN]}}</span> : Retourne la somme des <span class="surligne underline" [matTooltip]="helpTooltip.distance" matTooltipPosition="before">distances</span> entre les positions de départ et d'arrivé pour chaque pièce.</li>
            <li><span class="surligne">{{heuristicLabel[heuristics.LINEAR_CONFLICT]}}</span> : Retourne la somme des <span class="surligne underline" [matTooltip]="helpTooltip.conflicts" matTooltipPosition="before">conflits</span>, horizontaux et verticaux, pour chaque pièce.</li>
            <li><span class="surligne">{{heuristicLabel[heuristics.UNIFORM]}}</span> : Represente l'absence d'heuristique. Retourne toujours 0.</li>
          </ul>
        </div>
      </div>
    </popover-content>
  </div>

  <div class="greedy option-container" [ngClass]="{'show-help': currentHelp === helpType.GREEDY}">
    <div class="separator"></div>
    <div class="settings-title">
      <h3 class="sub-title">Greedy search&nbsp;: </h3>
      <i
        class="material-icons"
        popoverSize="auto"
        [popover]="PopoverGreedy"
        [popoverOnHover]="false"
        (onShown)="showHelp(helpType.GREEDY)"
        (onHidden)="hideHelp()"
      >help_outline</i>
    </div>
    <div class="settings-group">
      <button class="settings-option-2 custom-button" (click)="onGreedyChange(true)" [ngClass]="{'selected': config.greedySearch === true}"> Oui </button>
      <button class="settings-option-2 custom-button" (click)="onGreedyChange(false)" [ngClass]="{'selected': config.greedySearch === false}"> Non </button>
    </div>
    <popover-content #PopoverGreedy placement="bottom" [closeOnClickOutside]="true">
      <div class="po-content">
        <div class="po-text">Activer ou non l'option Greedy Search (Recherche Gloutonne) influence la façon dont sont traités les éléments dans la <span class="underline surligne" [matTooltip]="helpTooltip.openList" matTooltipPosition="before">Liste Ouverte</span>.</div>
        <br />
        <div class="po-advice">
          Section dédiée au calcul de <span class="surligne">g(x)</span>.
        </div>
        <br />
        <div class="po-explain">
          Lorsque l'option <span class="surligne">Greedy Search</span> est activée <span class="surligne">g(x)</span> retourne toujours 0,
          ce qui permet de choisir le meilleur chemin sans prendre en compte le chemin déjà parcouru.
        </div>
        <br />
        <div class="po-advice">
          Quand l'option Greedy Search est activée:
          <ul>
            <li>
              Les algorithmes <span class="surligne">{{algoLabel[algorithms.ASTAR]}}</span> et 
              <span class="surligne">{{algoLabel[algorithms.WEIGHTED_ASTAR]}}</span> sont identiques
            </li>
            <li>
              Si l'heuristique <span class="surligne">{{heuristicLabel[heuristics.UNIFORM]}}</span> est utilisée, 
              la <span class="surligne underline" [matTooltip]="helpTooltip.openList" matTooltipPosition="before">Liste Ouverte</span> se comporte comme une <span class="surligne underline" [matTooltip]="helpTooltip.FIFO" matTooltipPosition="before">Queue FIFO</span>
            </li>
          </ul>
        </div>
      </div>
    </popover-content>
  </div>

  <div class="start option-container" *ngIf="currentSize === config.size" [ngClass]="{'show-help': currentHelp === helpType.START}">
    <div class="separator"></div>
    <div class="sub-title-container">
      <div class="settings-title">
        <h3 class="sub-title">Etat de départ&nbsp;:</h3>
        <i
          class="material-icons"
          popoverSize="auto"
          [popover]="PopoverStart"
          [popoverOnHover]="false"
          (onShown)="showHelp(helpType.START)"
          (onHidden)="hideHelp()"
        >help_outline</i>
      </div>
      <button class="custom-button witdh-100" (click)="onGenerateRandomBoard()">Mélanger</button>
    </div>
    <div class="puzzle-container">
      <div class="puzzle puzzle-{{config.size}} small clickable" [ngClass]="{'dark': settings?.boardColorType === boardColorType.DARK, 'light': settings?.boardColorType === boardColorType.LIGHT}">
        <div 
          class="tile tile-{{tileIndex}}" 
          (click)="selectTile(tile)"
          [ngClass]="{
            'tile-border': tile !== 0,
            'selected': tile === config.selectedTile,
            'tile-empty': tile === 0
          }"
          *ngFor="let tile of config.startState"
        >
          <span *ngIf="tile !== 0">
            {{tile}}
          </span>
        </div>
      </div>
    </div>
    <p class="error" *ngIf="!config.isSolvable">Cette configuration ne peut pas être résolue.</p>
    <popover-content #PopoverStart placement="bottom" [closeOnClickOutside]="true">
      <div class="po-content">
        <div class="po-text">
          Deux moyen de mélanger le puzzle :
          <ul>
            <li>Cliquer sur le bouton <span class="surligne">Mélanger</span>, le mélange se basera sur la <span class="surligne underline" [matTooltip]="helpTooltip.mixingLevel" matTooltipPosition="before">Compléxité du mélange</span></li>
            <li>Cliquer sur deux tuiles pour échanger leur position</li>
          </ul>
        </div>
      </div>
    </popover-content>
  </div>

  <div class="final-state" *ngIf="currentSize === config.size">
    <div class="separator"></div>
    <div class="sub-title-container">
      <h3 class="sub-title">Etat final&nbsp;:</h3>
      <button class="custom-button witdh-100" [ngClass]="{'selected': currentFinalStateType === finalStateType.SPIRAL}" (click)="onFinalStateTypeChange(finalStateType.SPIRAL)">Spirale</button>
      <button class="custom-button witdh-100" [ngClass]="{'selected': currentFinalStateType === finalStateType.LINE}" (click)="onFinalStateTypeChange(finalStateType.LINE)">Ligne</button>
    </div>
    <div class="puzzle-container">
      <div class="puzzle puzzle-{{config.size}} small" [ngClass]="{'dark': settings?.boardColorType === boardColorType.DARK, 'light': settings?.boardColorType === boardColorType.LIGHT}">
        <div 
          class="tile tile-{{tileIndex}}" 
          [ngClass]="{'tile-border': tile !== 0, 'tile-empty': tile === 0}"
          *ngFor="let tile of config.finalState"
        >
          <span *ngIf="tile !== 0">
            {{tile}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="valide-button-container">
    <div class="separator"></div>
    <div class="button-container">
      <app-button label="Résoudre" cssClass="width-100p" [disabled]="!config.isSolvable || loading" [loading]="loading" color="primary" (onClick)="resolve()"></app-button>
    </div>
  </div>
</div>