@import '../../../assets/scss/variables';

.puzzle-config-container {
    .puzzle-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
    }
    .valide-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .button-container {
            width: 90%;
        }
    }
}