<div class="main-container">
  <div class="menu-container p-20" *ngIf="settings">
    <h2 class="title">Configuration</h2>

    <div class="size-selector">
      <div class="separator"></div>
      <h3 class="sub-title">Taille : </h3>
      <div class="size-group">
        <button class="size-option custom-button" *ngFor="let s of sizes" (click)="sizeChanged(s)" [ngClass]="{'selected': currentSize === s}"> {{s}} x {{s}} </button>
      </div>
    </div>

    <div class="algo-selector">
      <div class="separator"></div>
      <h3 class="sub-title">Methode de résolution : </h3>
      <div class="algo-group">
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.ASTAR)" [ngClass]="{'selected': currentAlgo === algorithms.ASTAR}"> A* </button>
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.WEIGHTED_ASTAR)" [ngClass]="{'selected': currentAlgo === algorithms.WEIGHTED_ASTAR}"> Weighted A* </button>
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.UNIFORM)" [ngClass]="{'selected': currentAlgo === algorithms.UNIFORM}"> Uniform </button>
      </div>
    </div>

    <div class="start-state" *ngIf="currentSize === settings.size">
      <div class="separator"></div>
      <div class="sub-title-container">
        <h3 class="sub-title">Etat de départ :</h3>
        <button class="custom-button witdh-100" (click)="onGenerateRandomBoard()">Mélanger</button>
      </div>
      <div class="puzzle-container modifiable" [ngClass]="'puzzle-'+settings.size">
        <div 
          class="tile"
          (click)="selectTile(tile)"
          [ngClass]="{
            'border-left': i % settings.size !== 0, 
            'border-top': i >= settings.size,
            'selected': tile === settings.selectedTile
          }" 
          *ngFor="let tile of settings.startState; let i = index"
        >
          <span *ngIf="tile !== 0">{{tile}}</span>
        </div>
      </div>
      <p class="error" *ngIf="!settings.isSolvable">Cette configuration ne peut pas être résolue.</p>
    </div>

    <div class="final-state" *ngIf="currentSize === settings.size">
      <div class="separator"></div>
      <div class="sub-title-container">
        <h3 class="sub-title">Etat final :</h3>
        <button class="custom-button witdh-100" [ngClass]="{'selected': currentFinalStateType === finalStateType.SPIRAL}" (click)="onFinalStateTypeChange(finalStateType.SPIRAL)">Spirale</button>
        <button class="custom-button witdh-100" [ngClass]="{'selected': currentFinalStateType === finalStateType.LINE}" (click)="onFinalStateTypeChange(finalStateType.LINE)">Ligne</button>
      </div>
      <div class="puzzle-container" [ngClass]="'puzzle-'+settings.size">
        <div 
          class="tile"
          [ngClass]="{
            'border-left': i % settings.size !== 0, 
            'border-top': i >= settings.size
          }" 
          *ngFor="let tile of settings.finalState; let i = index"
        >
          <span *ngIf="tile !== 0">{{tile}}</span>
        </div>
      </div>
    </div>

    <div class="valide-button-container">
      <div class="separator"></div>
      <div class="button-container">
        <app-button label="Résoudre" cssClass="width-100p" [disabled]="!settings.isSolvable || loading" [loading]="loading" color="primary" (onClick)="resolve()"></app-button>
      </div>
    </div>
  </div>

  <div class="puzzle-container p-t-20 p-b-20">
    <h2 class="title">Puzzle</h2>
    <div class="main-puzzle-container p-l-20 p-r-20">
      <div class="main-puzzle puzzle-{{result && result.puzzle.size}}" *ngIf="result && result.puzzle && result.currentState && result.currentState.length">
        <div 
          [@moveRight]="result.currentMove && result.currentMove.direction === tileMoveDirection.LEFT && result.currentMove.tile === tile"
          [@moveLeft]="result.currentMove && result.currentMove.direction === tileMoveDirection.RIGHT && result.currentMove.tile === tile"
          [@moveBottom]="result.currentMove && result.currentMove.direction === tileMoveDirection.TOP && result.currentMove.tile === tile"
          [@moveTop]="result.currentMove && result.currentMove.direction === tileMoveDirection.BOTTOM && result.currentMove.tile === tile"
          (@moveRight.done)="goToNextStep($event, tileMoveDirection.LEFT)"
          (@moveLeft.done)="goToNextStep($event, tileMoveDirection.RIGHT)"
          (@moveBottom.done)="goToNextStep($event, tileMoveDirection.TOP)"
          (@moveTop.done)="goToNextStep($event, tileMoveDirection.BOTTOM)"
          class="tile tile-{{tileIndex}}" 
          [ngClass]="{'tile-border': tile !== 0}"
          id="solved-puzzle-tile-{{tile}}" 
          *ngFor="let tile of result.currentState; let tileIndex = index"
        >
          <span *ngIf="tile !== 0">
            {{tile}} -- {{
              (result.currentMove && result.currentMove.direction === tileMoveDirection.LEFT && result.currentMove.tile === tile) ? 'RIGHT' :
              (result.currentMove && result.currentMove.direction === tileMoveDirection.RIGHT && result.currentMove.tile === tile) ? 'LEFT' :
              (result.currentMove && result.currentMove.direction === tileMoveDirection.TOP && result.currentMove.tile === tile) ? 'BOTTOM' :
              (result.currentMove && result.currentMove.direction === tileMoveDirection.BOTTOM && result.currentMove.tile === tile) ? 'TOP' :
              'NONE'
            }} -- {{result && result.currentMove ? result.currentMove.direction : 'NONE'}}_{{result && result.currentMove ? result.currentMove.tile : -1}}
          </span>
        </div>
      </div>
      <div class="no-puzzle" *ngIf="!result || !result.puzzle">
        Aucun puzzle résolu pour le moment.
      </div>
    </div>
    <div class="bottom-puzzle-container p-l-20 p-r-20 p-t-20" *ngIf="result && result.puzzle">
      <div class="step-number-container">
        {{result.currentStepIndex + 1}} / {{result.maxStep}}
      </div>
      <div class="controls-container">
        <div class="control">
          <button mat-mini-fab color="accent" (click)="nextMove(true)">
            <mat-icon>skip_previous</mat-icon>
          </button>
        </div>
        <div class="control" *ngIf="result.running">
          <button mat-mini-fab color="accent">
            <mat-icon>pause</mat-icon>
          </button>
        </div>
        <div class="control" *ngIf="!result.running">
          <button mat-mini-fab color="accent">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
        <div class="control">
          <button mat-mini-fab color="accent" (click)="nextMove(false)">
            <mat-icon>skip_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>