<div class="main-container">
  <div class="menu-container p-20" *ngIf="settings">
    <h2 class="title">Configuration</h2>

    <div class="size-selector">
      <div class="separator"></div>
      <h3 class="sub-title">Taille : </h3>
      <div class="size-group">
        <button class="size-option custom-button" *ngFor="let s of sizes" (click)="sizeChanged(s)" [ngClass]="{'selected': currentSize === s}"> {{s}} x {{s}} </button>
      </div>
    </div>

    <div class="algo-selector">
      <div class="separator"></div>
      <h3 class="sub-title">Methode de résolution : </h3>
      <div class="algo-group">
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.ASTAR)" [ngClass]="{'selected': currentAlgo === algorithms.ASTAR}"> A* </button>
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.WEIGHTED_ASTAR)" [ngClass]="{'selected': currentAlgo === algorithms.WEIGHTED_ASTAR}"> Weighted A* </button>
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.UNIFORM)" [ngClass]="{'selected': currentAlgo === algorithms.UNIFORM}"> Uniform </button>
      </div>
    </div>

    <div class="start-state" *ngIf="currentSize === settings.size">
      <div class="separator"></div>
      <div class="sub-title-container">
        <h3 class="sub-title">Etat de départ :</h3>
        <button class="custom-button witdh-100" (click)="onGenerateRandomBoard()">Mélanger</button>
      </div>
      <div class="puzzle-container modifiable" [ngClass]="'puzzle-'+settings.size">
        <div 
          class="tile"
          (click)="selectTile(tile)"
          [ngClass]="{
            'border-left': i % settings.size !== 0, 
            'border-top': i >= settings.size,
            'selected': tile === settings.selectedTile
          }" 
          *ngFor="let tile of settings.startState; let i = index"
        >
          <span *ngIf="tile !== 0">{{tile}}</span>
        </div>
      </div>
      <p class="error" *ngIf="!settings.isSolvable">Cette configuration ne peut pas être résolue.</p>
    </div>

    <div class="final-state" *ngIf="currentSize === settings.size">
      <div class="separator"></div>
      <div class="sub-title-container">
        <h3 class="sub-title">Etat final :</h3>
        <button class="custom-button witdh-100" [ngClass]="{'selected': currentFinalStateType === finalStateType.SPIRAL}" (click)="onFinalStateTypeChange(finalStateType.SPIRAL)">Spirale</button>
        <button class="custom-button witdh-100" [ngClass]="{'selected': currentFinalStateType === finalStateType.LINE}" (click)="onFinalStateTypeChange(finalStateType.LINE)">Ligne</button>
      </div>
      <div class="puzzle-container" [ngClass]="'puzzle-'+settings.size">
        <div 
          class="tile"
          [ngClass]="{
            'border-left': i % settings.size !== 0, 
            'border-top': i >= settings.size
          }" 
          *ngFor="let tile of settings.finalState; let i = index"
        >
          <span *ngIf="tile !== 0">{{tile}}</span>
        </div>
      </div>
    </div>

    <div class="valide-button-container">
      <div class="separator"></div>
      <div class="button-container">
        <app-button label="Résoudre" cssClass="width-100p" [disabled]="!settings.isSolvable || loading" [loading]="loading" color="primary" (onClick)="resolve()"></app-button>
      </div>
    </div>
  </div>

  <div class="puzzle-container p-20">
    <h2 class="title">Puzzle</h2>
    <div class="main-puzzle-container">
      <div class="main-puzzle puzzle-{{currentSolvedPuzzle && currentSolvedPuzzle.size}}" *ngIf="currentSolvedPuzzle && currentSolvedPuzzle.currentState && currentSolvedPuzzle.currentState.length">
        <div 
          [@moveRight]="currentSolvedPuzzle.operations && currentSolvedPuzzle.currentOperation && currentSolvedPuzzle.currentOperation.direction === tileMoveDirection.LEFT && currentSolvedPuzzle.currentOperation.tile === tile"
          [@moveLeft]="currentSolvedPuzzle.operations && currentSolvedPuzzle.currentOperation && currentSolvedPuzzle.currentOperation.direction === tileMoveDirection.RIGHT && currentSolvedPuzzle.currentOperation.tile === tile"
          [@moveBottom]="currentSolvedPuzzle.operations && currentSolvedPuzzle.currentOperation && currentSolvedPuzzle.currentOperation.direction === tileMoveDirection.TOP && currentSolvedPuzzle.currentOperation.tile === tile"
          [@moveTop]="currentSolvedPuzzle.operations && currentSolvedPuzzle.currentOperation && currentSolvedPuzzle.currentOperation.direction === tileMoveDirection.BOTTOM && currentSolvedPuzzle.currentOperation.tile === tile"
          (@moveRight.done)="goToNextStep($event, tileMoveDirection.LEFT)"
          (@moveLeft.done)="goToNextStep($event, tileMoveDirection.RIGHT)"
          (@moveBottom.done)="goToNextStep($event, tileMoveDirection.TOP)"
          (@moveTop.done)="goToNextStep($event, tileMoveDirection.BOTTOM)"
          class="tile tile-{{tileIndex}}" 
          [ngClass]="{'tile-border': tile !== 0}"
          id="solved-puzzle-tile-{{tile}}" 
          *ngFor="let tile of currentSolvedPuzzle.currentState; let tileIndex = index"
        >
          <span *ngIf="tile !== 0">{{tile}}</span>
        </div>
      </div>
      <div class="bottomm-container" *ngIf="currentSolvedPuzzle && currentSolvedPuzzle.currentState && currentSolvedPuzzle.currentState.length">
        <app-button label="Suivant" cssClass="width-100p" color="primary" (onClick)="nextMove()"></app-button>
      </div>
      <div class="no-puzzle" *ngIf="!currentSolvedPuzzle">
        Aucun puzzle résolu pour le moment.
      </div>
    </div>
  </div>
</div>