<div class="main-container">
  <div class="menu-container p-20" *ngIf="settings">
    <h2 class="title">Configuration</h2>

    <div class="size-selector" *ngIf="true">
      <div class="separator"></div>
      <h3 class="sub-title">Taille : </h3>
      <div class="size-group">
        <button class="size-option custom-button" (click)="sizeChanged(3)" [ngClass]="{'selected': currentSize === 3}"> 3 x 3 </button>
        <button class="size-option custom-button" (click)="sizeChanged(4)" [ngClass]="{'selected': currentSize === 4}"> 4 x 4 </button>
        <button class="size-option custom-button" (click)="sizeChanged(5)" [ngClass]="{'selected': currentSize === 5}"> 5 x 5 </button>
      </div>
    </div>

    <div class="algo-selector">
      <div class="separator"></div>
      <h3 class="sub-title">Methode de résolution : </h3>
      <div class="algo-group">
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.ASTAR)" [ngClass]="{'selected': currentAlgo === algorithms.ASTAR}"> A* </button>
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.WEIGHTED_ASTAR)" [ngClass]="{'selected': currentAlgo === algorithms.WEIGHTED_ASTAR}"> Weighted A* </button>
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.SLOW_ASTART)" [ngClass]="{'selected': currentAlgo === algorithms.SLOW_ASTART}"> Slow A* </button>
        <button class="algo-option custom-button" (click)="onAlgoChange(algorithms.BEST_FIRST)" [ngClass]="{'selected': currentAlgo === algorithms.BEST_FIRST}"> Best First </button>
      </div>
    </div>

    <div class="algo-selector">
      <div class="separator"></div>
      <h3 class="sub-title">Heuristique : </h3>
      <div class="heuristic-group">
        <button class="algo-option custom-button" (click)="onHeuristicChange(heuristics.MANHATTAN)" [ngClass]="{'selected': currentHeuristic === heuristics.MANHATTAN}"> Manhattan </button>
        <button class="algo-option custom-button" (click)="onHeuristicChange(heuristics.HAMMING)" [ngClass]="{'selected': currentHeuristic === heuristics.HAMMING}"> Hamming </button>
        <button class="algo-option custom-button" (click)="onHeuristicChange(heuristics.CARTESIAN)" [ngClass]="{'selected': currentHeuristic === heuristics.CARTESIAN}"> Cartesian </button>
        <button class="algo-option custom-button" (click)="onHeuristicChange(heuristics.LINEAR_CONFLICT)" [ngClass]="{'selected': currentHeuristic === heuristics.LINEAR_CONFLICT}"> Linear Conflict </button>
      </div>
    </div>

    <div class="shuffles-selector" *ngIf="true">
      <div class="separator"></div>
      <h3 class="sub-title">Compléxité du mélange : </h3>
      <div class="shuffle-group">
        <mat-slider
          max="1000"
          min="0"
          step="10"
          (change)="nbShuffleIterations = $event.value"
          [(ngModel)]="nbShuffleIterations"
          autoTicks="true"
        ></mat-slider>
        {{nbShuffleIterations > 0 ? nbShuffleIterations : 'Complet'}}
        <button class="shuffle-option custom-button" *ngIf="false" (click)="nbShuffleIterations = 10" [ngClass]="{'selected': nbShuffleIterations === 10}"> 10 </button>
        <button class="shuffle-option custom-button" *ngIf="false" (click)="nbShuffleIterations = 100" [ngClass]="{'selected': nbShuffleIterations === 100}"> 100 </button>
        <button class="shuffle-option custom-button" *ngIf="false" (click)="nbShuffleIterations = 1000" [ngClass]="{'selected': nbShuffleIterations === 1000}"> 1000 </button>
        <button class="shuffle-option custom-button" *ngIf="false" (click)="nbShuffleIterations = -1" [ngClass]="{'selected': nbShuffleIterations === -1}"> Complet </button>
      </div>
    </div>

    <div class="start-state" *ngIf="currentSize === settings.size">
      <div class="separator"></div>
      <div class="sub-title-container">
        <h3 class="sub-title">Etat de départ :</h3>
        <button class="custom-button witdh-100" (click)="onGenerateRandomBoard()">Mélanger</button>
      </div>
      <div class="puzzle-container modifiable" [ngClass]="'puzzle-'+settings.size">
        <div 
          class="tile"
          (click)="selectTile(tile)"
          [ngClass]="{
            'border-left': i % settings.size !== 0, 
            'border-top': i >= settings.size,
            'selected': tile === settings.selectedTile
          }" 
          *ngFor="let tile of settings.startState; let i = index"
        >
          <span *ngIf="tile !== 0">{{tile}}</span>
        </div>
      </div>
      <p class="error" *ngIf="!settings.isSolvable">Cette configuration ne peut pas être résolue.</p>
    </div>

    <div class="final-state" *ngIf="currentSize === settings.size">
      <div class="separator"></div>
      <div class="sub-title-container">
        <h3 class="sub-title">Etat final :</h3>
        <button class="custom-button witdh-100" [ngClass]="{'selected': currentFinalStateType === finalStateType.SPIRAL}" (click)="onFinalStateTypeChange(finalStateType.SPIRAL)">Spirale</button>
        <button class="custom-button witdh-100" [ngClass]="{'selected': currentFinalStateType === finalStateType.LINE}" (click)="onFinalStateTypeChange(finalStateType.LINE)">Ligne</button>
      </div>
      <div class="puzzle-container" [ngClass]="'puzzle-'+settings.size">
        <div 
          class="tile"
          [ngClass]="{
            'border-left': i % settings.size !== 0, 
            'border-top': i >= settings.size
          }" 
          *ngFor="let tile of settings.finalState; let i = index"
        >
          <span *ngIf="tile !== 0">{{tile}}</span>
        </div>
      </div>
    </div>

    <div class="valide-button-container">
      <div class="separator"></div>
      <div class="button-container">
        <app-button label="Résoudre" cssClass="width-100p" [disabled]="!settings.isSolvable || loading" [loading]="loading" color="primary" (onClick)="resolve()"></app-button>
      </div>
    </div>
  </div>

  <div class="puzzle-container p-t-20 p-b-20">
    <div class="stats" *ngIf="result && result.puzzle">
      <table>
        <tr>
          <td>Taille :</td>
          <td>{{result.puzzle.size}}</td>
        </tr>
        <tr>
          <td>Algorithme : </td>
          <td>{{algoLabel[result.puzzle.algo] || result.puzzle.algo}}</td>
        </tr>
        <tr>
          <td>Heuristique : </td>
          <td>{{heuristicLabel[result.puzzle.heuristic] || result.puzzle.heuristic}}</td>
        </tr>
        <tr>
          <td>Temps de résolution : </td>
          <td>{{result.puzzle.durationResolve}} ms</td>
        </tr>
        <tr>
          <td>Nombre de mouvements : </td>
          <td>{{result.puzzle.nbMoves}}</td>
        </tr>
        <tr>
          <td>Close list : </td>
          <td>{{result.puzzle.nbCloseList}}</td>
        </tr>
        <tr>
          <td>Open list : </td>
          <td>{{result.puzzle.nbOpenList}}</td>
        </tr>
      </table>
    </div>

    <h2 class="title">Puzzle</h2>

    <div class="main-puzzle-container p-l-20 p-r-20">
      <div class="main-puzzle puzzle-{{result && result.puzzle.size}}" *ngIf="result && result.puzzle && result.currentState && result.currentState.length">
        <div 
          [@moveRight]="result.puzzle.operations && result.currentMove && ((!result.currentMove.back && (result.currentMove.direction === tileMoveDirection.LEFT)) || (result.currentMove.back && (result.currentMove.direction === tileMoveDirection.RIGHT))) && result.currentMove.tile === tile"
          [@moveLeft]="result.puzzle.operations && result.currentMove && ((!result.currentMove.back && (result.currentMove.direction === tileMoveDirection.RIGHT)) || (result.currentMove.back && (result.currentMove.direction === tileMoveDirection.LEFT))) && result.currentMove.tile === tile"
          [@moveBottom]="result.puzzle.operations && result.currentMove && ((!result.currentMove.back && (result.currentMove.direction === tileMoveDirection.TOP)) || (result.currentMove.back && (result.currentMove.direction === tileMoveDirection.BOTTOM))) && result.currentMove.tile === tile"
          [@moveTop]="result.puzzle.operations && result.currentMove && ((!result.currentMove.back && (result.currentMove.direction === tileMoveDirection.BOTTOM)) || (result.currentMove.back && (result.currentMove.direction === tileMoveDirection.TOP))) && result.currentMove.tile === tile"
          (@moveRight.done)="goToNextStep($event, result && result.currentMove && result.currentMove.back ? tileMoveDirection.RIGHT : tileMoveDirection.LEFT)"
          (@moveLeft.done)="goToNextStep($event, result && result.currentMove && result.currentMove.back ? tileMoveDirection.LEFT : tileMoveDirection.RIGHT)"
          (@moveBottom.done)="goToNextStep($event, result && result.currentMove && result.currentMove.back ? tileMoveDirection.BOTTOM : tileMoveDirection.TOP)"
          (@moveTop.done)="goToNextStep($event, result && result.currentMove && result.currentMove.back ? tileMoveDirection.TOP : tileMoveDirection.BOTTOM)"
          class="tile tile-{{tileIndex}}" 
          [ngClass]="{'tile-border': tile !== 0}"
          id="solved-puzzle-tile-{{tile}}" 
          *ngFor="let tile of result.currentState; let tileIndex = index"
        >
          <span *ngIf="tile !== 0">
            {{tile}}
          </span>
        </div>
      </div>
      <div class="no-puzzle" *ngIf="!loading && (!result || !result.puzzle)">
        Aucun puzzle résolu pour le moment.
      </div>
      <div class="loading-puzzle" *ngIf="loading">
        <mat-progress-spinner
          class="prefix-icon" 
          color="accent" 
          *ngIf="loading" 
          mode="indeterminate"
        >
        </mat-progress-spinner>
        Puzzle en cours de résolution...
      </div>
    </div>
    <div class="progress-bar-container" *ngIf="result && result.puzzle">
      <div class="progress-bar" [style.width]="result.progress+'%'"></div>
    </div>
    <div class="bottom-puzzle-container p-l-20 p-r-20 p-t-20" *ngIf="result && result.puzzle">
      <div class="step-number-container">
        {{result.currentStepIndex + 1}} / {{result.maxStep}}
      </div>
      <div class="controls-container">
        <div class="control">
          <button mat-mini-fab color="accent" (click)="moveTile(false, true)">
            <mat-icon>skip_previous</mat-icon>
          </button>
        </div>
        <div class="control" *ngIf="true">
          <button mat-mini-fab color="accent" (click)="result.autoRun ? pause() : moveTile(true)" *ngIf="!(result.currentStepIndex + 1 === result.maxStep)">
            <mat-icon>{{result.autoRun ? 'pause' : 'play_arrow'}}</mat-icon>
          </button>
          <button mat-mini-fab color="accent" (click)="resetPuzzlePosition()" *ngIf="(result.currentStepIndex + 1 === result.maxStep)">
            <mat-icon>replay</mat-icon>
          </button>
        </div>
        <div class="control">
          <button mat-mini-fab color="accent" (click)="moveTile(false)">
            <mat-icon>skip_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>