@import '../../assets/scss/variables';

$border: 1px solid rgba(0, 0, 0, 0.12);
$borderLight: 1px solid rgba(214, 214, 214, 0.3);
$borderDark: 1px solid rgb(24, 24, 24);
$configPuzzleSize: 200px;
$solvedPuzzleSize: 500px;
$tileDark: #444;
$tileLight: #fff;

.puzzle {
    display: grid;
    border: $borderDark;
    overflow: hidden;
    background-color: $tileLight;
    .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $tileLight;
        &.tile-border {
            border: $border;
        }
        &.selected {
            background-color: $blue;
        }
    }
    .tile-empty {
        background-color: transparent;
    }
    &.dark {
        background-color: $tileDark;
    }
    &.light {
        background-color: $tileLight;
    }
    @for $i from 1 through 20 {
        &.puzzle-#{$i} {
            height: fit-content;
            width: fit-content;

            grid-template-columns: repeat($i, ($solvedPuzzleSize / $i));
            grid-template-rows: repeat($i, ($solvedPuzzleSize / $i));
            &.small {
                grid-template-columns: repeat($i, ($configPuzzleSize / $i));
                grid-template-rows: repeat($i, ($configPuzzleSize / $i));
            }
            $max-tiles: ($i * $i) - 1;
            @for $t from 0 through $max-tiles {
                .tile-#{$t} {
                    grid-column: ($t % $i) + 1;
                    grid-row: floor($t / $i) + 1;
                }
            }
        }
    }
}