<div class="puzzle-settings-container" *ngIf="settings">
  <div class="shuffles-selector">
    <h3 class="sub-title">Compléxité du mélange : </h3>
    <div class="shuffle-group">
      <mat-slider
        max="1000"
        min="0"
        step="10"
        autoTicks="true"
        color="primary"
        thumbLabel="true"
        [value]="settings.nbShuffleIterations"
        [displayWith]="iterationLabel"
        (change)="nbIterationsChange($event)"
      ></mat-slider>
      <div class="nb-iterations">{{settings.nbShuffleIterations > 0 ? settings.nbShuffleIterations : 'Complet'}}</div>
    </div>
  </div>

  <div class="board-selector">
    <div class="separator"></div>
    <h3 class="sub-title">Couleur du plateau : </h3>
    <div class="board-group">
      <button class="board-option custom-button" (click)="onBoardColorChange(boardColorType.DARK)" [ngClass]="{'selected': settings.boardColorType === boardColorType.DARK}"> Sombre </button>
      <button class="board-option custom-button" (click)="onBoardColorChange(boardColorType.LIGHT)" [ngClass]="{'selected': settings.boardColorType === boardColorType.LIGHT}"> Clair </button>
    </div>
  </div>

  <div class="color-selector" *ngIf="false">
    <div class="separator"></div>
    <h3 class="sub-title">Couleur des tuiles : </h3>
    <div class="color-group">
      <button class="color-option custom-button" (click)="onTileColorChange(tileColorType.UNITED)" [ngClass]="{'selected': settings.tileColorType === tileColorType.UNITED}"> Sombre </button>
      <button class="color-option custom-button" (click)="onTileColorChange(tileColorType.SPIRAL)" [ngClass]="{'selected': settings.tileColorType === tileColorType.SPIRAL}"> Clair </button>
      <button class="color-option custom-button" (click)="onTileColorChange(tileColorType.DIAGONAL)" [ngClass]="{'selected': settings.tileColorType === tileColorType.DIAGONAL}"> Personnalisé </button>
    </div>
  </div>
</div>